.main-container {

    .nav-container {

        nav {
            padding: 10px;
            box-shadow: -2px 4px 19px -6px #66b9f4;
            font-size: 20px;
            color: #616a7a;

            ul {
                margin: unset;

                li {
                    display: inline-block;
                    padding: 10px;

                    &.user-info {
                        cursor: default;
                        float: right;
                    }
                }

                a {
                    text-decoration: none !important;
                    color: #001a4d;
                    cursor: pointer;

                    &:hover {
                        color: #66b9f4;
                    }
                }
            }
        }
    }

    .content-container  {}
}
