<div class="main-container">
    <section class="nav-container">
        <nav>
            <ul>
                <li class="user-info">
                    {{currentUser['firstname'] }}
                    {{ currentUser['lastname']}}
                </li>
                <li class="user-info">
                    Selected table is: {{selectedTables[0].tableId }}
                </li>
                <li >
                    <a (click)="logout()">Logout</a>
                </li>
                <li>
                    <!-- target="_blank" means open in new window -->
                    <a routerLink="/settings"><i class="icon-users"></i>Settings</a>
                </li>
                <li>
                    <a routerLink="/tables"><i class="icon-food"></i>Tables</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="content-container">
        <h2 class="">Here will be main content of the application.</h2>
    </section>
</div>

<footer>
  This is footer
</footer>
