<div class="main-container">
    <section class="nav-container">
        <nav>
            <ul>
                <li class="">
                    <a routerLink="/home">LOGO</a>
                </li>
                <li>
                    <!-- target="_blank" means open in new window -->
                    <a routerLink="/settings">User settings</a>
                </li>
            </ul>
        </nav>
    </section>
    <section class="content-container">
        <h2 class="">Here will be main content of the application.</h2>
    </section>
</div>

<footer>
  This is footer
</footer>
