<div class="settings-section">
    <section class="left-section">
        <div class="user-img">
            <img src="../../../assets/imgs/user.png"/>
        </div>
        <h2 class="welcome">Welcome {{currentUser.username}}!</h2>
        <nav>
            <ul>
                <li>Edit user</li>
                <li>Shift score</li>
            </ul>
        </nav>
        <button class="back-btn" routerLink="/home">Back to home</button>
    </section>

    <section class="right-section">
        <table class="users-table"  *ngIf="!openEdit">
            <thead>
                <tr class="title-row">
                    <th >No</th>
                    <th>Type</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="single-user" *ngFor="let user of allUsers; let i = index;">
                    <td>{{ i + 1}}</td>
                    <td>{{ user.type }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.id_user }}</td>
                    <td>
                        <button class="delete-btn" (click)="deleteUser(user.id_user)"><i class="icon-trash"></i></button>
                        <button class="edit-btn" (click)="openEditForm(user)"><i class="icon-pencil"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <edit-user *ngIf="openEdit" [userToEdit]="selectedUser" (userEdited)="onUserEdited($event)"></edit-user>
    </section>
</div>
