.settings-section {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;

    .left-section {
        background-color: rgb(30, 69, 132);
        opacity: 0.9;
        color: #fff;
        letter-spacing: 1px;

        .user-img {
            border: 1px solid rgb(32, 85, 170);
            background-color: rgb(32, 85, 170);
            display: table;
            margin: 20px auto;
            padding: 20px;
            border-radius: 50%;
        }
        .back-btn {
            margin: auto;
            display: block;
            margin-top: 100px;
            color: #fff;
            padding: 16px;
            background-color: rgb(234, 155, 4);
            font-weight: bold;
            border: 1px solid rgb(234, 155, 4);
            cursor: pointer;

            &:hover {
                background-color: #fff;
                color: rgb(234, 155, 4);
                border: 1px solid rgb(234, 155, 4);
            }
        }

        nav {
            font-size: 20px;

            ul {
                list-style: none;
                text-align: center;
                padding: 0px;

                li {
                    cursor: pointer;
                    padding: 20px;
                    border-bottom: 1px solid #476ead40;

                    &:first-child {
                        border-top: 1px solid #476ead40;
                    }

                    &:hover {
                        background-color: #2055aa;
                    }

                    &.active {
                        background-color: #2055aa;
                    }
                }
            }
        }

        .welcome {
            text-align: center;
        }
    }



    .right-section {
        width: 100%;

        .users-table {
            border-collapse: collapse;
            margin: auto;
            width: 90%;
            font-size: 15px;
            box-shadow: 2px 6px 20px 5px lightgrey;

            thead {
                background-color:#476ead;

                .title-row {
                    color: #ffff;
                    height: 50px;

                    th {
                        padding-right: 10px;
                        border-right: 1px solid #d0e0f921;

                        &:first-child {
                            padding-left: 10px;
                        }
                    }
                }

            }

            tbody {
                background-color: #faf9fb;

                .single-user {
                    border-bottom: 1px solid #e6ecff;
                    height: 40px;
                    cursor: pointer;
                    text-align: center;
                    color: #113775;
                    letter-spacing: 1.5px;

                    td {
                        &:first-child {
                            padding-left: 10px;
                        }
                    }

                    .delete-btn {
                        margin-left: 14px;
                        background-color: #fff;
                        color: #ea9b04;
                        border: 1px solid #ea9b04;
                        padding: 6px;
                        cursor: pointer;
                        font-size: 14px;
                        border-radius: 50%;


                        &:hover {
                            background-color: #ea9b04;
                            color: #fff;
                        }
                    }

                    .edit-btn {
                        background-color: #fff;
                        border: 1px solid #476ead;
                        color: #476ead;
                        padding: 6px;
                        margin-left: 8px;
                        cursor: pointer;
                        font-size: 14px;
                        border-radius: 50%;

                        &:hover {
                            background-color: #476ead;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
