<h2 class="welcome">Welcome to users settings!</h2>
<section class="users-table">
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Type</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Password</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsers; let i = index;">
                <td>{{ i + 1}}</td>
                <td>{{ user.type }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.id_user }} </td>
                <button (click)="deleteUser(user.id_user)"> - Delete</button>
            </tr>
        </tbody>
    </table>
</section>
<button routerLink="/home">Back to home</button>
