
.icon-search:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-user-add:before { content: '\e804'; } /* '' */
.icon-info:before { content: '\e805'; } /* '' */
.icon-help:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-cancel-squared:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-lock-open:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-down-open-big:before { content: '\e80e'; } /* '' */
.icon-left-open-big:before { content: '\e80f'; } /* '' */
.icon-right-open-big:before { content: '\e810'; } /* '' */
.icon-up-open-big:before { content: '\e811'; } /* '' */
.icon-hourglass:before { content: '\e812'; } /* '' */
.icon-bell:before { content: '\e813'; } /* '' */
.icon-plus:before { content: '\e814'; } /* '' */
.icon-minus:before { content: '\e815'; } /* '' */
.icon-trash:before { content: '\e816'; } /* '' */
.icon-basket:before { content: '\e817'; } /* '' */
.icon-dot:before { content: '\e818'; } /* '' */
.icon-dot-2:before { content: '\e819'; } /* '' */
.icon-dot-3:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-vcard:before { content: '\e81c'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */